---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
     I build epidemiologic and etiologic models and provide a bigger methodological sensitivity to epidemiologic and clinical studies. I'm also planning to focus more on longitudinal and survival models. <br>
     I've benefited from teachings and will work as an intern with multiple researchers and engineers from multiple public research labs in France. I'm planning on starting a PhD project in the next few years. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="M.S. in Epidemiology and Clinical Pharmacology Modeling"
      subtitle="2021 to 2023 at Université de Rennes, Rennes, France | 1st year Average: 17.3/20 2nd year Average: 15"
    />
    <TimeLineElement
      title="B.S. in Applied Mathematics"
      subtitle="2019 to 2021 at Université de Reims Champagne-Ardenne, Reims, France | With high honours"
    />
    <TimeLineElement
      title="Classe Préparatoire MPSI"
      subtitle="2018 to 2019 at Lycée Franklin Roosevelt, Reims, France | With highest honours, intensive 1-year course in maths/physics"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Epidemiology Intern"
      subtitle="From march 2023 to september 2023 at Inserm UMR 1246 SPHERE, Nantes, France"
      desc="Survival data model based on the biggest French kidney transplant cohort. Mentor: Pr Etienne Dantan"
    />
    <TimeLineElement
      title="Tutor"
      subtitle="2021 at Université de Rennes, Rennes, France"
      desc="Tutoring in mathemathics for fellow public health students."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Publications & papers</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://corentinchoisy.github.io/papers/memoire.pdf" target="_blank"> Choisy C., Yemtougoulé S., Nguyen T.C., Multiple comparison correction, Université de Rennes, 2022</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-2 columns-2 mx-6">
    <li>OS: EndeavourOS & Other Linux, Windows, Unix Command Line </li>
    <li>Programming: Python, Matlab, Octave, R, SAS, SQL, Node, OCaml, Bash </li>
    <li> Web and Writing: HTML, CSS, JavaScript, SQL, LaTeX, Markdown, Jekyll, Git </li>
    <li> Graphics: Matplotlib, GGPlot2, Photoshop, Rhino3D, Shiny </li>
    <li> Other: Narrative Reviews, Teaching Experience </li>
  </ul>

<br>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">References</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://medecine.univ-rennes1.fr/interlocuteurs/ronan-garlantezec" target="_blank"> Dr. Ronan Garlantézec, University professor and Hospital practitioner, UMR Inserm 1085 IRSET, CHU de Rennes</a>
    </li>
    <li>
      <a href="https://sphere-inserm.fr/fr/membre/etienne-dantan" target="_blank"> Pr. Etienne Dantan, Associate Professor, UMR Inserm 1246 SPHERE</a>
    </li>
  </ul>

</BaseLayout>
