---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>

    <div class="pb-12 mt-5">
      <div class="text-5xl font-bold">Corentin Choisy</div>
      <div class="text-3xl py-3 font-bold">Epidemiology Intern at Inserm UMR 1246 SPHERE</div>
      <div class="py-2">
        <text class="text-lg">  
        I build epidemiologic and etiologic models and provide a bigger methodological sensitivity to epidemiologic and clinical studies. I'm also planning to focus more on longitudinal and survival models.
        <br>
        I'm currently going through the second year of M.S. in Epidemiology and Clinical Pharmacology Modeling at Université Rennes 1 and have begun a 6-month internship at Inserm UMR 1246 SPHERE in March 2023.
        <br>
        I have benefited from teaching from researchers and engineers at EHESP and IRSET (Rennes, France), Inserm UMR 1246 SPHERE (Nantes, France) and many other French public research labs in epidemiology, clinical research and public health.
          </text
        >
      </div>
      <div class="mt-8">
        <a class="btn" href="https://gitlab.com/corentinchoisy" target="_blank"> Find me on Gitlab!</a>
        <a href="https://corentinchoisy.gitlab.io/rkdms-calculator/" target="_blank" class="btn btn-outline ml-5">RKDMS Calculator - WIP</a>
      </div>
    </div>

    <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects and papers</div>
    </div>
    
  <HorizontalCard
    title="Multiple Comparison Correction"
    img="https://www.univ-rennes.fr/sites/www.univ-rennes.fr/files/styles/max_2600x2600/public/medias/images/UNIRENNES_LOGOnoir_0.png"
    desc="4th-year project - Narrative Review on multiple comparison correction in epidemiology"
    alternate="Université de Rennes"
    url="https://corentinchoisy.github.io/papers/memoire.pdf"
    badge="COMPLETED"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Developement and Validation of a French Kidney Donor Score"
    img="https://sphere-inserm.fr/themes/custom/spheretheme/logo.svg"
    desc="Masters thesis"
    alternate="Inserm UMR 1246 SPHERE"
    url="#"
    badge="IN PROGRESS"
  />


    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
