---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Latest Projects</div>
  </div>

  <HorizontalCard
    title="Multiple Comparison Correction"
    img="https://www.univ-rennes.fr/sites/www.univ-rennes.fr/files/styles/max_2600x2600/public/medias/images/UNIRENNES_LOGOnoir_0.png"
    desc="4th-year project - Narrative Review on multiple comparison correction in epidemiology"
    alternate="Université de Rennes"
    url="https://corentinchoisy.github.io/papers/memoire.pdf"
    badge="COMPLETED"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Developement and Validation of a French Kidney Donor Score"
    img="https://sphere-inserm.fr/themes/custom/spheretheme/logo.svg"
    desc="Masters thesis"
    alternate="Inserm UMR 1246 SPHERE"
    url="#"
    badge="IN PROGRESS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest Papers</div>
  </div>

</BaseLayout>
