---
import { Image } from "@astrojs/image/components";
---

<div class="drawer-side bg-base-200">
  <label for="my-drawer" class="drawer-overlay bg-base-200"></label>
  <div
    class="menu flex flex-col flex-nowrap p-4 overflow-y-auto w-[20rem] bg-base-200 text-base-content"
  >
    <div class="w-fit">
      <a href="/">
        <div
          class="avatar transition ease-in-out w-1/2 hover:scale-[102%] block m-auto mt-3 mb-6 h-36"
        >
          <div>
            <Image
              class="mask mask-circle"
              aspectRatio="1:1"
              format="webp"
              width={300}
              height={300}
              src="https://corentinchoisy.github.io/images/portrait.jpg"
              alt="Profile image"
            />
          </div>
        </div>
      </a>
    </div>
    <ul class="grow shrink">
      <!-- Sidebar content here -->
      <li><a id="home" href="/">Home</a></li>
      <li><a id="projects" href="/projects">Projects</a></li>
      <li><a id="blog" href="/blog/">Blog</a></li>
      <li><a id="cv" href="/cv">CV</a></li>
      <li><a href="mailto:corentin.choisy@univ-nantes.fr">Contact</a></li>
    </ul>
    <div class="social-icons px-4 my-2 flex self-center">
      <a
        href="mailto:corentin.choisy@univ-nantes.fr"
        target="_blank"
        class="mx-3"
        aria-label="email"
        title="Email"
      >
        <img
          src="https://www.svgrepo.com/show/216603/email-seo-and-web.svg"
          height="24"
          width="24"
          >
      </a>
      <a
        href="https://gitlab.com/corentinchoisy"
        target="_blank"
        class="mx-3"
        aria-label="Gitlab"
        title="Gitlab"
      >
        <img
          src="https://www.svgrepo.com/show/369328/gitlab.svg"
          height="22"
          width="24"
          >
      </a>
      <a
        href="https://chat.projectsegfau.lt/"
        target="_blank"
        class="mx-3"
        aria-label="Element"
        title="Element"
      >
        <img
          src="https://svgur.com/i/tSQ.svg"
          height="24"
          width="24"
          opacity=0
          >
      </a>
      <a
        rel="me"
        href="https://mastodon.social/@corentinchoisy"
        target="_blank"
        class="mx-3"
        aria-label="Mastodon"
        title="Mastodon"
      >
        <img
          src="https://fontawesomeicons.com/lib/svg/logo-mastodon.svg"
          height="24"
          width="24"
          opacity=0
        >



      </a>

      <a
        href="/rss.xml"
        target="_blank"
        class="mx-3"
        aria-label="RSS Feed"
        title="RSS Feed"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: currentColor;transform: ;msFilter:;"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>
    </div>
  </div>
</div>
<script>
  const homeLink = document.getElementById("home");
  const projectsLink = document.getElementById("projects");
  const servicesLink = document.getElementById("services");
  const storeLink = document.getElementById("papers");
  const blogLink = document.getElementById("blog");
  const cvLink = document.getElementById("cv");

  var isHome = true;

  const url = window.location.href;

  const pages = [projectsLink, servicesLink, storeLink, blogLink, cvLink];

  const activeClass = "bg-base-300"; // For primary color replace with `active` class

  pages.forEach((elem) => {
    if (elem?.id && url.includes(elem.id)) {
      isHome = false;
      elem?.classList.add(activeClass);
    }
  });
  if (isHome) {
    homeLink?.classList.add(activeClass);
  }
</script>
